In [1]:
import pandas as pd

weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Sunny', 'Sunny']
}

In [2]:
data = pd.DataFrame(weather_data)

In [3]:
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [4]:
data.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny

In [5]:
data.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [6]:
data.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [7]:
data.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [8]:
data.event

0     Rain
1    Sunny
2     Snow
3     Snow
4    Sunny
5    Sunny
Name: event, dtype: object

In [9]:
data.event.unique()

array(['Rain', 'Sunny', 'Snow'], dtype=object)

In [10]:
data.event.value_counts()

Sunny    3
Snow     2
Rain     1
Name: event, dtype: int64

In [12]:
len(data [data.event == "Sunny"])

3

In [14]:
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [15]:
data.set_index("day")

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4  Sunny
1/6/2017           31          2  Sunny

In [16]:
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [17]:
data.set_index("day", inplace=True)

In [18]:
data

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4  Sunny
1/6/2017           31          2  Sunny

In [19]:
data.loc["1/1/2017"]

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [20]:
data.reset_index(inplace=True)
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [21]:
data["Round 27"] = [1,2,3,4,5,6]

In [22]:
data

        day  temperature  windspeed  event  Round 27
0  1/1/2017           32          6   Rain         1
1  1/2/2017           35          7  Sunny         2
2  1/3/2017           28          2   Snow         3
3  1/4/2017           24          7   Snow         4
4  1/5/2017           32          4  Sunny         5
5  1/6/2017           31          2  Sunny         6

In [23]:
columns = []
data = dict()

num = int(input("please enter the number of columns"))
while(num > 0):
    columns.append(input("please enter the column name: "))
    num -=1

for i in columns:
    data[i] = []

rows = int(input("please enter the number of rows: "))
while(rows > 0):
    for i in data:
        value = input(f"please enter the value of {i}: ")
        data[i].append(value)

    rows-=1
dataframe = pd.DataFrame(data)
dataframe

please enter the number of columns3
please enter the column name: Name
please enter the column name: Age
please enter the column name: Salary
please enter the number of rows: 3
please enter the value of Name: Ahmed
please enter the value of Age: 24
please enter the value of Salary: 213456765645342
please enter the value of Name: Awab
please enter the value of Age: 19
please enter the value of Salary: 3000
please enter the value of Name: Ali
please enter the value of Age: 22
please enter the value of Salary: 4000

    Name Age           Salary
0  Ahmed  24  213456765645342
1   Awab  19             3000
2    Ali  22             4000